h1 {
    color: blue;
    background-color: aquamarine;
    border:burlywood 30px groove; 
    width: fit-content;
}

h2 {
    color: blue;
    border: red 40px groove;
    width: fit-content;
    background-color: chartreuse;
}

h3 {
    color: chartreuse;

}